
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(0, 0%, 98%);
    padding: 1rem;
    position: relative;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    position: absolute;
    gap: 1rem;
  }
  
  .nav-links li a {
    text-decoration: none;
    color:hsl(0, 0%, 41%) ;
    padding: 0.5rem 1rem;
  }
  .nav-links ul{
    list-style: none;
  }
  
  /* Mobile View */
@media (max-width: 768px) {
  .navbar .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
  }

  .nav-links.show {
    display: flex; /* Display links when toggled */
    flex-direction: column;
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: hsl(0, 0%, 98%);
    width: 60%;
  }

  .nav-links li a {
    padding: 1rem; /* Add space for easy clicking */
  
  }

  
}
.hero-image{
   max-width: 80% ;
}
.hero-text{
    max-width: 100%;
}